{% extends 'layout.htm' %}
{% set active_page ="cook-later" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3 class="panel-title">Get a wine recommendation for your food</h3>
        <p class="panel-subtitle">Pick a food and get wine pairing</p>

      </div>
      <div class="panel-body">

        <div class="text-left">
          <form id="chat" class="form-inline" action="/chatbot" style="width: 100%">
              <div class="input-group">
              <input type="text"style="width:250%" class="form-control mb-2 mr-sm-2" name="chatmsg" id="chatmsg" placeholder="Enter recipe/ ingredient name" name="recipe" autocomplete="off">
              </div>

              <div class="btn-group">
            <button id="chatbtn" type="submit" class="btn btn-primary mb-2" style="margin-left: 300px">Send Chat</button> <!--prevent default--!>
            <button type="button" class="btn btn-primary mb-2" style="margin-left: 20px" onclick="$('#description').slideToggle();">What can I say?</button>
              </div>


          </form>
          <hr>
            <div id="description" style="display: none; background:black">
                <ul>
                    <li>Ask for recipes like <k>'chicken recipes'</k> or <k>'spaghetti with shrimp'</k> </li>
                    <li>Ask for nutrient contents like <k>'vitamin a in 2 carrots'</k> or <k>'calories is 1 cup of butter'</k></li>
                    <li>Convert something with <k>'2 cups of butter in grams'</k></li>
                    <li>Check out foodie gifts by saying <k>'show me some foodie gifts'</k></li>
                    <li>Find food substitutes by saying <k>'what is a substitute for flour'</k></li>
                    <li>Thirsty? Ask for wine pairings like <k>'which wine goes well with spaghetti carbonara'</k></li>
                    <li>If you want more results, just say <k>'more'</k></li>
                    <li>For more similar results say <k>'more like the first/second/third...'</k></li>
                    <li>Let spoonacular tell you a joke, just say <k>'tell me a joke'.</k></li>
                    <li>Want to learn some food trivia, just say <k>'food trivia'.</k></li>
                </ul>
            </div>

            <div id="foodBotHist" class="col-md-12" style="background: #3ea1ec"></div>

          <div>
            {% if wineRes|length >0 %}

              <h4>Recommended wines for {{ recipeSearch }} are: <br> </h4>
              <ul>
                {% for wine in wineRes %}
                  <li> {{ wine }}</li>
                {% endfor %}
              </ul>
              <h4>Expert advice for pairing:</h4>
              <p>{{ wineText }}</p>

            {% else %}
              <h3 class="text-center">Sorry, No Results Found</h3>
            {% endif %}

          </div>
        </div>
      </div>
        {{ super }}

    </div>
  </div>
</div>
    <style>
        k{ color:green;}
        #description li{color: whitesmoke;}
    </style>

    <script>
        $(document).ready(function() {

            $('#chatbtn').off("click").on("click", function (e) {
                e.preventDefault();
                var chatmsg = $('input[name=chatmsg]').val();
                //console.log(chatmsg);

                $.post('/chatbot', {chatmsg},
                    function (returnedData) {
                        $('#foodBotHist').prepend("You:<b>"+ chatmsg + "</b> <hr>");

                        console.log(returnedData.media);
                        returnedData.media.forEach(function(obj) {

                            //console.log(obj.title);

                            $('#foodBotHist').prepend(""+
                                "<div class='col-md-3'>"+
                                "<div class='card'>"+
                                "<img src='"+obj.image+"' alt='Recipe Image' style='width:100%'>"+
                                "<div class='rcontainer text-center'>"+
                                "<p><b>"+obj.title+"</b></p>"+
                            "</div> </div> </div>");

                        });
                        $('#foodBotHist').prepend("<br>Foodbot: <b>"+ returnedData.answerText + "</b> <hr>");

                        //console.log(returnedData.answerText);

                    });

            });
        });

    </script>


{% endblock %}

