{% extends 'layout.htm' %}
{% set active_page ="cook-zone" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-headline">
        <div class="panel-heading">
          <h3 class="panel-title">Welcome to the Cooking Zone</h3>
          <p class="panel-subtitle">Cooking Zone</p>
          <div class="right">
            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
          </div>
        </div>
        <div class="panel-body">

          <h1>Featured Recipes Cards Carousel</h1>
          <p>{{ joke }}</p>


          {% for recipe in recipes %}
            <div class="col-md-3">
          <div class="card">
            <img src="{%  if recipe.image %} {{ recipe.image}} {% else %} /img/food.jpg {% endif %}" alt="Recipe Image" style="width:100%">
            <div class="rcontainer text-center">
              <button type="button" class="btn btn-danger" value="{{recipe.id}}" onclick="addFav(this.value)" >Add to Favourites  <i class="fa fa-heart"> </i> </button>
              <br><i class="fa fa-stopwatch"></i> {{ recipe.readyInMinutes }}
              <i class="fa fa-users"></i> {{ recipe.servings }}

              <p><b>{{ recipe.title}}</b></p>
              <p></p>
            </div>
          </div>
            </div>
          {% if (i+1)%4==0 %} <br> {% endif %}
          {% endfor %}


          {{ super() }}
        </div>
      </div>
    </div>
  </div>

  <script>
    function addFav(recID) {
      $.post('/favourites', {recID},
              function(returnedData){
                alert(returnedData);
              });
    }
  </script>

{% endblock %}
