{% extends 'layout.htm' %}
{% set active_page ="cook-zone" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-headline">
        <div class="panel-heading">
          <h3 class="panel-title">Sous-Chef's featured Cooking Zone recipes</h3>
          <p class="panel-subtitle">Click to view detailed recipe</p>
          <div class="right">
            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
          </div>
        </div>
        <div class="panel-body">
          <h4>Start with some good vibes: {{ joke }}</h4><hr>


          <!--Loop through recipe results and render on page -->
          {% for recipe in recipes %}
            <div class="col-md-3">
          <div class="card">

            <a href="{{ recipe.spoonacularSourceUrl}}" target="_blank">
            <img src="{%  if recipe.image %} {{ recipe.image}} {% else %} /img/food.jpg {% endif %}" alt="Recipe Image" style="width:100%">
            </a>

            <div class="rcontainer text-center">
              <button type="button" class="btn btn-danger" value="{{recipe.id}}" onclick="addFav(this.value)" >Add to Favourites  <i class="fa fa-heart"> </i> </button>
              <br><i class="fa fa-stopwatch"></i> {{ recipe.readyInMinutes }} Mins
              <i class="fa fa-users"></i> {{ recipe.servings }} ppl

              <p><b>{{ recipe.title}}</b></p>
              <p></p>
            </div>
          </div>
            </div>
          {% if (i+1)%4==0 %} <br> {% endif %}
          {% endfor %}

          <hr><div style="text-align: center;"><button type="button" class="btn btn-success" onclick="location.reload(true);" >More recipes  <i class="fa fa-heart"> </i> </button></div>
          {{ super() }}
        </div>
      </div>
    </div>
  </div>

  <script>
    //Function to add to favourites
    function addFav(recID) {
      $.post('/favourites', {recID},
              function(returnedData){
                alert(returnedData);
              });
    }
  </script>

{% endblock %}
