{% extends 'layout.htm' %}
{% set active_page ="explore" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-headline">
        <div class="panel-heading">
          <h3 class="panel-title">Explore page</h3>
          <p class="panel-subtitle">Exploration of delicious recipes around the globe</p>
          <div class="right">
            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
          </div>
        </div>
        <div class="panel-body">

          <div class="container">
            <form class="form-inline" action="/explore">
              <span style="display:inline-block">
              <label  style="display:block" for="email2" class="mb-2 mr-sm-2">Email:</label>
              <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder="Enter email" name="email">
              </span>

              <span style="display:inline-block">
              <label style="display:block" for="pwd2" class="mb-2 mr-sm-2">Password:</label>
              <input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Enter password" name="pswd">
              </span>

              <span style="display:inline-block">
                <label style="display:block" for="cuisine" class="mb-2 mr-sm-2">Cuisine:</label>
                <select id="cuisine" class="form-control">
                  <option value="cheese">Cheese</option>
                  <option value="tomatoes">Tomatoes</option>
                  <option value="mozarella">Mozzarella</option>
                  <option value="mushrooms">Mushrooms</option>
                  <option value="pepperoni">Pepperoni</option>
                  <option value="onions">Onions</option>
                </select>
              </span>

              <span style="display:inline-block">
                <label style="display:block" for="cuisine" class="mb-2 mr-sm-2">Diet:</label>
                <select id="diet" class="form-control">
                  <option value="cheese">Cheese</option>
                  <option value="tomatoes">Tomatoes</option>
                  <option value="mozarella">Mozzarella</option>
                  <option value="mushrooms">Mushrooms</option>
                  <option value="pepperoni">Pepperoni</option>
                  <option value="onions">Onions</option>
                </select>
              </span>

              <span style="display:inline-block">
                <label style="display:block" for="allergens" class="mb-2 mr-sm-2">Allergens:</label>
                <select id="allergens" class="form-control">
                  <option value="cheese">Cheese</option>
                  <option value="tomatoes">Tomatoes</option>
                  <option value="mozarella">Mozzarella</option>
                  <option value="mushrooms">Mushrooms</option>
                  <option value="pepperoni">Pepperoni</option>
                  <option value="onions">Onions</option>
                </select>
              </span>

              <button type="submit" formmethod="post" class="btn btn-primary mb-2">Explore</button>
            </form>
          </div>
          </div>

        <!--TODO Handle returned search results and render in a nice way, handle pagination?--!>


        </div>
      </div>
    </div>
  </div>

{% endblock %}
