{% extends 'layout.htm' %}
{% set active_page ="favourites" %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3 class="panel-title">{{username|default('Guest')}}'s favourite recipes </h3>
        <p class="panel-subtitle">Your saved recipes to cook later</p>

      </div>
      <div class="panel-body">
        {% if favRecipes|length > 0  %}

          {% for i in favRecipes %}
            <div class="col-md-3">
              <div class="card">
                <img height="" src="{%  if i.image %} {{ i.image}} {% else %} /img/food.jpg {% endif %}" alt="Recipe Image" style="width:100%">
                <div class="rcontainer text-center">
                  <p><b>{{ i.title}}</b></p>
                </div>
              </div>
            </div>

          {% endfor %}
        {% else %}
          <h3 class="text-center">You have not yet added any favourites.</h3>
        {% endif %}

        {{ super() }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
