<!doctype html>
<html lang="en">

<head>
  <title>Sous-Chef App</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!-- VENDOR CSS -->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/font-awesome/css/all.css">
  <link rel="stylesheet" href="vendor/linearicons/style.css">
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="css/main.css">
  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <!-- ICONS -->
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.ico">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
  <!-- NAVBAR -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="brand">
      <a href="/cook-zone"><img src="img/logo-dark.png" alt="Logo" width="180px" class="img-responsive logo"></a>
    </div>
    <div class="container-fluid">
      <div class="navbar-btn">
        <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
      </div>
      <form class="navbar-form navbar-left">
        <div class="input-group">
          <input type="text" value="" class="form-control" placeholder="Search dashboard...">
          <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
        </div>
      </form>
      <div id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">How to use the app</a></li>
              <li><a href="/credits">Data Sources</a></li>
              <li><a href="/credits">Credits</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="img/user.png" class="img-circle" alt="Avatar"> <span>{{ username|default('Guest') }}</span> </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <!-- LEFT SIDEBAR -->

  <div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <nav>
        <ul class="nav">
          {% set active_page = active_page|default('cook-zone') -%}
          <li><a href="/cook-zone" {% set id ="cook-zone" %}class="{% if id == active_page %} active {% endif%}"><i class="fa fa-utensils"></i> <span>Cook-Zone</span></a></li>
          <li><a href="/explore" {% set id ="explore" %}class="{% if id == active_page %} active {% endif%}"><i class="fa fa-binoculars"></i> <span>Explore</span></a></li>
          <li><a href="/favourites" {% set id ="favourites" %}class="{% if id == active_page %} active {% endif%}"><i class="fa fa-star-of-david"></i> <span>Favourites</span></a></li>
          <li><a href="/sommelier" {% set id ="sommelier" %}class="{% if id == active_page %} active {% endif%}"><i class="fa fa-wine-glass"></i> <span>Sommelier</span></a></li>
          <li><a href="/chatbot" {% set id ="cook-later" %}class="{% if id == active_page %} active {% endif%}"><i class="fa fa-comment-dots"></i> <span>Foodbot</span></a></li>
          <li><a href="/profile" {% set id ="profile" %}class="{% if id == active_page %} active {% endif%}"><i class="fa fa-user"></i> <span>My Profile</span></a></li>
          <li><a href="/credits" {% set id ="credits" %}class="{% if id == active_page %} active {% endif%}"><i class="fa fa-list"></i> <span>Credits</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END LEFT SIDEBAR -->
  <!-- MAIN -->
  <div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <br>
        {% block content %}
            <style>
              .card {
                /* Add shadows to create the "card" effect */
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                display:block;
                width: 100%;
                height: 260px;
                overflow: auto;
              }
              .col-md-3{
                padding-bottom: 20px;
              }
              /* On mouse-over, add a deeper shadow */
              .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
              }

              /* Add some padding inside the card container */
              .rcontainer {
                padding: 2px 16px;
              }
              img {
                border-radius: 5px 5px 0 0;
              }
            </style>
        {% endblock %}
        <br>
      </div>
    </div>
    <!-- END MAIN CONTENT -->
  </div>
  <!-- END MAIN -->
  <div class="clearfix"></div>
  <footer>
    <div class="container-fluid">
      <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
    </div>
  </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="scripts/klorofil-common.js"></script>

</body>

</html>
