{% extends 'layout.htm' %}

{% set active_page ="sommelier" %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3 class="panel-title">Get a wine recommendation for your food</h3>
        <p class="panel-subtitle">Pick a food and get wine pairing</p>

      </div>
      <div class="panel-body">

        <div class="text-left">
          <form class="form-inline" action="/sommelier" style="width: 100%">
              <span style="display:inline-block">
              <label  style="display:block" for="recipe" class="mb-2 mr-sm-2">Recipe / Ingredient:</label>
              <input type="text" class="form-control mb-2 mr-sm-2" id="recipe" placeholder="Enter recipe/ ingredient name" name="recipe">
              </span>
            <button type="submit" formmethod="post" class="btn btn-primary mb-2">Get wine pairing</button>
          </form>
            <hr>
            <!--Render wine/food results from server -->
            <div>
                {% if wineRes|length >0 %}

                <h4>Recommended wines for {{ recipeSearch }} are: <br> </h4>
                    <ul>
                    {% for wine in wineRes %}
                    <li> {{ wine }}</li>
                    {% endfor %}
                     </ul>
                <h4>Expert advice for pairing:</h4>
                    <p>{{ wineText }}</p>

                {% else %}
                    <h3 class="text-center">Sorry, No Results Found</h3>
                {% endif %}

            </div>
        </div>
      </div>


    </div>
  </div>

        <div class="col-md-6">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Food recommendation for your wine</h3>
                    <p class="panel-subtitle">Pick a wine and get food pairing</p>

                </div>
                <div class="panel-body">

                    <div class="text-left">
                        <form class="form-inline" action="/sommelier" style="width: 100%">
                          <span style="display:inline-block">
                            <label style="display:block" for="wine" class="mb-2 mr-sm-2">Pick a Wine type:</label>
                            <select name="wine" id="wine" class="form-control">
                                <option value=""> --select a wine-- </option>
                                <option value="Merlot">Merlot</option>
                                <option value="Chardonnay">Chardonnay</option>
                                <option value="cabernet sauvignon">Cabernet Sauvignon</option>
                                <option value="Sauvignon Blanc">Sauvignon Blanc</option>
                                <option value="Pinot Grigio">Pinot Grigio</option>
                                <option value="pinot noir">Pinot Noir</option>
                                <option value="Riesling">Riesling</option>
                                <option value="zinfandel">Zinfandel</option>
                                <option value="muscat">Muscat</option>
                            </select>
                          </span>
                            <button type="submit" formmethod="post" class="btn btn-primary mb-2">Get wine pairing</button>
                        </form>
                        <hr>

                        <div>
                            {% if rwineText  %}

                                <h4>Wine pairing advice:</h4>
                                <p>{{ rwineText }}</p>

                                <h4>Recommended foods for {{ wineSearch }} are: <br> </h4>
                                <ul>
                                    {% for food in winePairings %}
                                        <li> {{ food }}</li>
                                    {% endfor %}
                                </ul>

                            {% else %}
                                <h3 class="text-center">Sorry, No Results Found</h3>
                            {% endif %}

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}